/*
Theme Name: HNDIT
Theme URI: http://underscores.me/
Author: Buddhi Prasan
Author URI: http://buddhiprasan12@gmail.com
Description: The Higher National Diploma in Information Technology (HNDIT) programme at the Sri Lanka Institute of Advanced Technological Education (SLIATE) was developed and commenced in the year 2000 with the objective of producing the middle level IT professionals required for the new millenniu
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: hndit
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

HNDIT is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Theam
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.reply {
	margin:-12px 20px;
	text-align:center;
	background-color: #55737D;
	border:1px solid #55737D;
	border-radius:3px;
	padding:3px;
	width:50px;
}

.comment article {
	padding-bottom:2.79rem;
}

a.comment-reply-link,
a.comment-edit-link {
	color: #FFFFFF;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	text-decoration:none;
}

a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #f6e7d7;
}
/*buddhi prasan style */

.comment-metadata {
	padding-top: 7px;
}

#comments footer {
	background: #fdfdfd;
	color: inherit;
}

#comments footer a, #respond a ,.comment-metadata a {
	color: inherit;
}

#comments footer a:hover ,#respond a:hover , .comment-metadata a:hover  {
	color: inherit;
	text-decoration: none;
}

#comments .comment-meta {
    padding: 15px 20px 2px;
}

.comment-content {
	padding: 10px 20px;
}

.comment-body {
	margin: 20px 0;
}


#respond label {
	clear: both;
	display: block;
}

#submit {
	text-align:center;
	background-color: #55737D;
	border:1px solid #55737D;
	border-radius:3px;
	color: #FFFFFF;
}

/* Highlight active form field */

#respond input[type=text], textarea ,input[type=email],input[type=url] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px 0px 10px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
	width: 100%;
}


#respond input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Theam
--------------------------------------------------------------*/

html {
    margin-top: 0 !important;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: roboto, sans-serif;
}
body {
  background-color: #ce1010 @import;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: roboto, sans-serif;
  min-width: 320px;
}
h1, h2, h3, h4, h5, h6 {
  color: #666;
  font-weight: bold;
}
p {
  color: #999;
}
.btn-danger {
  font-family: roboto, sans-serif;
  background-color: #ce1010;
}
.btn-success {
  font-family: roboto, sans-serif;
  background-color: #1b998b;
}
.btn-success:hover {
  background-color: #1b998b;
}
.btn {
  font-weight: 400;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}
.color_hr .hr_width {
  width: 100%;
}
.color_hr hr {
  height: 5px;
  float: right;
  border-top: 0 solid #eee;
  margin-top: 30px;
  margin-bottom: 50px;
}
.color_hr .green {
  background-color: #1b998b;
  width: 15%;
}
.color_hr .yello {
  background-color: #fc0;
  width: 15%;
}
.color_hr .red {
  background-color: #ce1010;
  width: 15%;
}
.color_hr .black {
  background-color: #2f2f2f;
  width: 15%;
}
.color_hr .white {
  background-color: #fff;
  width: 20%;
}
.topic_style {
  color: #1b998b;
  text-align: center;
  position: relative;
  backface-visibility: hidden;
}
button {
  border: 0;
  box-shadow: 0 5px 0 #b71010;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  transition: all 0.1s linear;
}
button:hover, button:focus {
  box-shadow: 0 2px 0 #b71010;
  transform: translateY(3px);
  outline: none;
}
button:active, button:focus {
  box-shadow: 0 0 0 #b71010;
  transform: translateY(3px);
  outline: none;
}
.modal-title {
  color: #1b998b;
  text-align: center;
}
.form-check-inline {
  padding-right: 10px;
}
.form-check-inline input {
  margin-right: 5px;
}
.modal-footer {
  text-align: center;
}

.feature-image {
  display: table;
  width: 100%;
}
#course-feature {
  background: #3e4249;
  color: white;
  text-align: center;
}
#who-benifit {
  background: white;
}
.feature-image-default {
  background-size: cover;
	background-image: url('../hndit/assets/img/hndit.jpg');
	text-align: center;
}
.feature-image-default-alt {
  background-size: cover;
}
.feature-image h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #9c9c9c;
  padding: 50px;
}


.slider {
  text-align: center;
  padding: 10px;
  margin-top: -200px;
}
.slider h1 {
  color: #1b998b;

  font-weight: 600;
  margin-bottom: -10px;
  margin-top: 120px;
}
.slider h3 {
  color: #e2e2e2;
  font-weight: 800;
}
.slider p {
  line-height: 22px;
  margin-top: 10px;
	color: #666;
}
.slider hr {
  background-color: #1b998b;
  height: 2px;
  width: 60%;
  margin-top: 0;
  margin-bottom: 5px;
	border-top: 1px solid #1b998b;
}
.slider .btn {
  margin: auto;
  width: 40%;
  height: 40px;
}
.slider img {
  padding: 20px;
}
.top_icon main {
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.top_icon main .box {
  background-color: #fff;
  height: 150px;
  width: 150px;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 20px;
  border-radius: 100px;
  margin: 20px 40px;
}
.top_icon main .text {
  font-size: 1.2em;
  font-weight: 700;
}
.top_icon main .red {
  border: 8px solid #ce1010;
  color: #ce1010;
}
.top_icon main .black {
  border: 8px solid #2f2f2f;
  color: #2f2f2f;
}
.top_icon main .green {
  border: 8px solid #1b998b;
  color: #1b998b;
}
.top_icon main .yello {
  border: 8px solid #fc0;
  color: #fc0;
}
.top_icon main .item {
  display: block;
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.5em;
}
.top_icon main .fa {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 10px;

}
.welcome {
  text-align: center;
  margin-bottom: 50px;
}
.welcome h1, .welcome h3 {
  color: #666;
  font-family: roboto, sans-serif;
}
.welcome h1 {
  font-size: 3.5em;
  font-weight: 900;
}
.welcome h3 {
  font-weight: 600;
  margin-top: 0;
}
.welcome p {
  color: #999;
  padding: 20px;
  font-size: 1.3em;
  line-height: 30px;
  font-family: roboto, sans-serif;
}
.welcome .btn {
  width: 100%;
  margin: auto;
  height: 50px;
  font-size: 26px;
}
.gov {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*animatin ,/......................................*/
}
.gov p {
  color: #999;
  font-family: roboto, sans-serif;
  padding: 30px 30px 10px;
}
.gov .gov_p {
  font-size: 1.3em;
  line-height: 28px;
}
.gov a {
  font-style: roboto, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #ce1010;
  text-decoration: none;
  margin-bottom: 20px;
  transition: all 0.5s ease 0s;
}
.gov a :hover {
  background-color: rgba(206, 16, 16, 0.85);
}
.gov img {
  margin: auto;
  padding-top: 50px;
}
.cl-effect-4 a {
  padding: 0 0 1px;
}
.cl-effect-4 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ce1010;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.cl-effect-4 a:focus::after, .cl-effect-4 a:hover::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
main a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: left;
}
main a:focus, main a:hover {
  outline: none;
  text-decoration: none;
}
.leftside .dip_in, .leftside h2 {
  text-align: center;
  padding: 10px;
}
.leftside .list-group {
  margin-left: 100px;
}
.leftside .list-group p {
  margin-left: 30px;
  line-height: 25px;
}
.leftside .list-group h5 {
  line-height: 20px;
  color: #979797;
  font-size: 15px;
}
.leftside .btn {
  font-size: 16px;
  padding: 6px;
  width: 90%;
  margin: auto;
}
.leftside .dip {
  margin-bottom: 30px;
  border-right: 1px solid #f1f1f1;
}
.rightside h6 {
  background-color: #1b998b;
  color: #fff;
  padding: 6px;
}
.rightside h4 {
  background-color: #fc0;
  padding: 6px;
  text-align: center;
  margin-top: 0;
}
.rightside h4 small {
  padding-bottom: 10px;
}
.rightside h5 {
  color: #ce1010;
  margin-top: 5px;
}
.rightside p {
  line-height: 18px;
}
.rightside hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.youtube {
  text-align: center;
}
.youtube .embed-responsive {
  margin-top: 20px;
  margin-bottom: 30px;
}
.youtube button {
  width: 80%;
  margin: auto;
  padding: 10px;
}
.youtube .sub_btn {
  margin-bottom: 30px;
}
.institution h2 {
  text-align: center;
  margin-bottom: 30px;
}
.panel-body {
  width: 55%;
  margin: auto;
}
.panel-body .media-middle {
  vertical-align: inherit;
}
.panel-body p {
  margin: 0;
}
.panel-body img {
  margin-right: 5px;
}
.panel-body a {
  font-style: roboto, sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #ce1010;
  text-decoration: none;
  margin-bottom: 5px;
  transition: all 0.5s ease 0s;
}
.panel-body a :hover {
  background-color: rgba(206, 16, 16, 0.85);
}
.panel-title {
  color: #fff;
  text-align: center;
  background-color: #1b998b;
}
.panel-title a:hover {
  text-decoration: none;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-default {
  border-color: transparent;
}
.panel {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px transparent;
  box-shadow: transparent;
  /*achivment*/
}
.panel .btn {
  background-color: #1b998b;
  font-weight: 600;
  margin: 5px;
  padding: 2px;
}
.panel .btn:active {
  background-color: #1b998b;
}
.achivment {
  text-align: center;
  margin-bottom: 50px;
}
.achivment_box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 10px;
  margin: 3px 3px 20px 3px;
}
.achivment_box h3 {
  text-align: center;
  padding: 10px;
  color: #ce1010;
}
.achivment_box h4 {
  text-align: center;
}
.achivment_box h5 {
  margin-bottom: 15px;
  color: #999;
}
.achivment main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  /*  social   */
}
.social {
  justify-content: center;
}
.social ul {
  list-style-type: none;
  overflow: hidden;
}
.social ul li {
  float: left;
  margin: auto;
}
.social ul li a .fa {
  font-size: 25px;
  margin: auto;
  padding: 18px;
  color: #b7b7b7;
}
.social ul a {
  color: #fff;
  transition: all 0.5s ease 0s;
}
.social ul a:hover {
  opacity: 0.8;
}
footer {
  background-color: #2f2f2f;
  padding: 20px 20px 0;
}
footer h4 {
  color: #1b998b;
}
footer .news {
  padding: 15px;
}
footer .news p {
  padding: 10px 0;
}
footer .form-control {
  height: 32px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
footer ul {
  list-style-type: none;
}
footer .main_f {
  color: #fc0;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
footer .main_g {
  color: #fff;
}
.Copyrights p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 1px solid #fff;
  padding: 10px;
}

@media (max-width: 475px) {

  .leftside .list-group {
    margin-left: 15px;
  }
  .youtube button {
    width: 100%;
  }
  .panel-body {
    width: 100%;
  }
  #blog .blog_au_i img {
    display: none;
  }
  .logo-l {
    display: none;
  }
}
@media (min-width: 475px) {
  .logo-lm {
    display: none;
		float: left;
  }

}


/*diploma page*/


.dip_page1 h3 {
  color: #2f2f2f;
  padding: 10px;
}
.dip_page1 h2, .dip_page1 h3, .dip_page1 p {
  text-align: center;
}
.dip_page1 h2, .dip_page1 p {
  margin: 30px 40px 40px 10px;
}
.dip_page1 h2 {
  width: 70%;
  padding: 10px;
  margin: auto;
}
.dip_page1 ul {
  margin: auto;
  width: 80%;
}
.dip_page1 button {
  padding: 10px;
  width: 50%;
  margin: 30px auto 50px 25%;
}
.dip_page1 li {
  font-family: roboto, sans-serif;
  color: #666;
  line-height: 25px;
}
.Subjects h2 {
  width: 70%;
  color: #1b998b;
  padding: 10px;
  margin: auto;
  text-align: center;
}
.Subjects h4 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #999;
}
.Subjects h4, .Subjects h6 {
  text-align: center;
  color: #fff;
  padding: 10px;
}
.Subjects h6 {
  background-color: #a9a9a9;
}
@media only screen and (max-width: 800px) {
  #no-more-tables table, #no-more-tables tbody, #no-more-tables td, #no-more-tables th, #no-more-tables thead, #no-more-tables tr {
    display: block;
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables tr {
    border: 1px solid #ccc;
  }
  #no-more-tables td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  #no-more-tables td:before {
    /* Top/left values mimic padding */
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    /*
Label the data
*/
  }
  #no-more-tables td:before {
    content: attr(data-title);
  }
  .caption {
    width: 100%;
  }
  .table_h {
    display: none;
  }
}

.director {
  margin-bottom: 60px;
}
.director h4 {
  text-align: center;
}
.director img {
  display: inherit;
  margin: auto;
  border-radius: 100%;
  border-bottom: 5px solid #2f2f2f;
}
.lec_hr {
  width: 50%;
  margin-top: 70px;
  margin-bottom: 40px;
}
.lec1_hr {
  display: none;
  margin-top: 70px;
  margin-bottom: 40px;
}
@media (max-width: 776px) {
  .lec1_hr {
    display: inherit;
    width: 50%;
  }
}
.hover14 figure {
  position: relative;
}
.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hover14 figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.column div span {
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #2f2f2f;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
figure {
  width: 300px;
  height: 230px;
  margin: auto;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover + span {
  bottom: -60px;
  opacity: 1;
}


/*contact */


#contact {
  margin-top: 100px;
  margin-bottom: 10px;
}
#contact .btn {
  float: right;
  padding: 6px 40px;
}
#contact_list li {
  list-style-type: none;
  font-size: 16px;
  font-style: roboto, sans-serif;
  color: #2f2f2f;
}
#contact_list i {
  font-size: 25px;
  color: #1b998b;
  margin-right: 10px;
}
#contact_list .con_l {
  color: #1b998b;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 8px;
}
@media (max-width: 776px) {
  #contact_list {
    margin-top: 60px;
  }
}
.form-horizontal .form-group {
  margin-left: 0;
}


/*blog page */

#blog_page {
  margin-top: 120px;
}
#blog .blog_au {
  width: 100%;
  display: inline-flex;
}
#blog .blog_au_i {
  width: 12%;
}
#blog .blog_au_i img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 2px solid #6a6a6a;
  padding: 0;
}
#blog .blog_au_n {
  width: 88%;
  margin: auto;
  text-align: left;
  color: #6a6a6a;
}
#blog .blog_au_n .lead, #blog .blog_au_n a {
  font-size: 18px;
  color: #6a6a6a;
  font-weight: bold;
  transition: all 0.5s ease 0s;
}
#blog .blog_au_n a:hover, #blog .blog_au_n a:focus, #blog .blog_au_n a:active {
  color: #2f2f2f;
  outline: none;
  text-decoration: none;
}
#blog .blog_au_n hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
#blog .blog_au_t {
  margin: auto;
  text-align: right;
}
#blog .lead {
  margin-bottom: 4px;
}
#blog .titel_hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog_titel a {
  color: #2f2f2f;
  margin-top: 0;
  margin-bottom: 2px;
  transition: all 0.5s ease 0s;
}
.blog_titel a:hover, .blog_titel a:active, .blog_titel a:focus {
  color: #000;
  text-decoration: none;
}
article {
  border: 1px solid #d3d3d3;
  background-image: url(../hndit/assets/img/tile.jpg);
}
.blog header {
  padding: 0 15px;
}
.blog_body_i img {
  width: 100%;
  height: inherit;
}
.blog_body {
  padding: 20px;
}
.blog_well {
  margin-top: 30px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-image: url(../hndit/assets/img/tile.jpg);
}
.blog_well .media img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 1px solid #d3d3d3;
}
.well {
  background-color: #fff;
  background-image: url(../hndit/assets/img/tile.jpg);
}
.pager li > a, .pager li > span {
  background-color: #c9302c;
  border: 1px solid #ac2925;
  transition: all 0.5s ease 0s;
}
.pager li > a:hover, .pager li > span {
  background-color: #d63c38;
}
.pagination > li > a, .pagination > li > span {
  color: #2f2f2f;
  border: none;
  margin-left: 10px;
  transition: all 0.5s ease 0s;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 100%;
}
.list-unstyled {
  padding-left: 16px;
}
.well .input-group-btn:last-child > .btn, .well .input-group-btn:last-child > .btn-group {
  z-index: 0;
  margin-left: -1px;
  border: 1px solid;
  border-color: #ccc;
}


/*25th of desember new update  */

.blog_btn {
	display: table;
	margin-top: 20px;
}

.well ul {
	list-style: none;
}

.well ul li a {
	color: #ce1435;
	font-family: roboto, sans-serif;
	margin-left: -40px;
	font-size: 16px;
}

.well ul li a:hover,.well ul li a:active,.well ul li a:focus {
	color: #ea1b40;
	text-decoration: none;
}

.well ul li {
	padding: 3px;
}

.feature-image {
	margin-bottom: 30px;
	margin-top: 0;
}

h2.ScrollReveal5,.page-title{
	padding: 40px;
	color: #9c9c9c;
}

#footer {
	margin-top: 40px;
}

#s {
color: #999999;
font-family: Arial, sans-serif;
font-size: 13px;
margin: 0 -31px 0 0;
padding: 10px 30px 10px 8px;
text-transform: lowercase;
width: 200px;
}


/*nav bar*/

header .nav_m li a {
  width: 45px;
  height: 45px;
  padding: 11px;
  background-color: #ffcc00;
  color: #2f2f2f;
  font-size: 16px;
  margin: 16px 25px;
  border-radius: 100%;
  border: 3px solid;
  border-color: #ffcc00;
  transition: all 0.5s ease 0s; }

header .nav_m li a .active {
  border-color: #1b998b; }

header .nav_m li a:hover {
  background-color: #fff; }


	.affix {
	  top: 0;
		width: 100%;
	  left: 0;
	  -webkit-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out;
	  background-color: #fff;
	  border-bottom: 5px solid #ffcc00; }

	.affix a {
	  -webkit-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out; }

		div.container1 a {
		  position: relative;
		  z-index: 0;
		  cursor: pointer; }


/* Circle behind */
div.circleBehind a:after,
div.circleBehind a:before {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 45px;
  height: 45px;
  border: 3px solid #1b998b;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 100%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1; }

div.circleBehind a:after {
  border-width: 1px;
  transition: all 0.4s; }

div.circleBehind a:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1); }

div.circleBehind a:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.2); }

	.navbar {
		z-index: 99;
	}


	.logo-l img  {
		margin-top: 6px;
	}

	.navbar-right {
		margin-top: 10px;
	}


/*Responcive 992px .............*/
@media (max-width: 992px) {
	.logo-l img {
		    padding-top: 23px;
	}
header .nav_m li a {
	margin: 0 20px;
}
  .navbar-header {
		display: inline-block;
		float: right;
    }

  .navbar-left, .navbar-right {
		display: inline-block;
		margin-left: 105px;
	margin-bottom: 10px;
  }

  .navbar-toggle {
    display: inline-block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav > li {
        display: -webkit-inline-box; }

  .collapse.in {
    display: block !important; }

  .navbar-toggle {
    border: 0;
    font-size: 38px;
    margin-left: 119px;
    margin-top: 10px;
    color: #666; }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent; }
.navbar {
  z-index: 66; }

	.logo-l img  {
		margin-top: -12px;
	}

}

@media (max-width: 716px){
	.navbar-left, .navbar-right {
			margin-left: 25px;
	}

.logo-lm img {
	margin-top: 20px;
	margin-right: 67px;
}
.navbar-toggle {
    margin-left: 5px;
}
}

@media (max-width: 425px){

	header .nav_m li a {
    margin: 0px;
}

.navbar-left, .navbar-right {
		margin-left: 0;
}

header .nav_m li a  {
width: 40px;
height: 40px;
padding: 9px;
background-color: #ffcc00;
color: #2f2f2f;
font-size: 14px;
margin: 10px 1px;
border-radius: 100%;
border: 3px solid;
border-color: #ffcc00;
transition: all 0.5s ease 0s;
}
}


/*404 error*/
.page-title{
	text-align: center;
}


.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    margin-top: 5px;
}